npm install mongodb
mongodb+srv://<db_username>:<db_password>@onpoint-cluster.xjrwygw.mongodb.net/?appName=onpoint-cluster

install Node.js :https://nodejs.org/en

install dependencies: server.js, routes/, controllers/, etc..
npm install express mongoose dotenv cors

execute commands:
node server.js
npm start
npm run dev


check version:
node -v
npm -v
