/*App css*/
.app {
  width: auto;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.main-content {
  width: 100%;
  max-width: 1400px; /* adjust if needed */
  margin: 0 auto;
  padding: 2rem 3rem;
}

